* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.title-container {
  background-color: #593d3b;
  padding: 0.5rem;
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.main-container {
  padding: 1rem;
  justify-items: center;
}

.recipe-container {
  min-width: 50%;
  margin: 20px 0;
  /* padding: 1rem; */
  background-color: #593d3b;
}

.recipe-container h2 {
  color: #fff;
  padding: 20px;
}

.recipe-container a {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background-color: #c3a995;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  /* margin-top: 40px; */
  padding: 20px;
  background-color: #593d3b;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
